.background{width:1350px; height:600px; background-color:#008000;border-radius:10px;}
h2{ margin-left:150px;color:white;}

.photo img{float:left;width:200px; height:200px;border-radius:50%;margin:147px;margin-right:0px;margin-top:0px;}
.baio{ height:150px;width: 590px; background-color:#003300;border:6px;float:left;padding:130px;margin:40px;margin-top:0px;border-radius:20px;color:white;}
